:root {
    --primary-color: #0056b3; /* Azul primario */
    --secondary-color: #f8f9fa; /* Fondo gris claro para las celdas */
    --text-color: #495057; /* Texto gris oscuro para las celdas */
    --button-bg: #007bff; /* Color de fondo para botones */
    --button-bg-hover: #0056b3; /* Color de fondo al pasar el mouse sobre los botones */
    --button-text-color: #ffffff; /* Color de texto de los botones */
    --font-family: 'Arial', sans-serif; /* Fuente principal */
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}
.content {
    flex: 1;
    display: flex;
}
.sidebar {
    min-width: 200px;
    background-color: #f8f9fa;
}
.sidebar a {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #e9ecef;
}
.footer {
    background-color: #f8f9fa;
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
}

btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.container {
    flex:1;
}
